<app-header></app-header>

<!-- Section: Design Block -->
<section class="container mt-24 mb-16 flex justify-between items-center mx-auto px-8 md:px-14 lg:px-24 w-full">
  <div class="block rounded-lg shadow-lg bg-white">
    <div class="flex flex-wrap items-center">
      <div class="grow-0 shrink-0 basis-auto flex w-full lg:w-6/12 xl:w-4/12">
        <img
          src="https://images.unsplash.com/photo-1536148935331-408321065b18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
          alt="Trendy Pants and Shoes" class="h-64 lg:h-full w-full object-cover object-bottom rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" />
      </div>
      <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 xl:w-8/12">
        <div class="px-6 py-12 md:px-12">
          <h2 class="text-3xl font-bold mb-6 pb-2">Building meaningful software solutions.</h2>
          <p class="text-gray-500 mb-6 pb-2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A soluta corporis
            voluptate ab error quam dolores doloremque, quae consectetur.
          </p>
          <div class="flex flex-wrap mb-6">
            <div class="w-full lg:w-6/12 xl:w-4/12 mb-4">
              <p class="flex items-center justify-start">
                <svg class="w-4 h-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                  </path>
                </svg>Fast
              </p>
            </div>
            <div class="w-full lg:w-6/12 xl:w-4/12 mb-4">
              <p class="flex items-center justify-start">
                <svg class="w-4 h-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                  </path>
                </svg>Reliable
              </p>
            </div>
            <div class="w-full lg:w-6/12 xl:w-4/12 mb-4">
              <p class="flex items-center justify-start">
                <svg class="w-4 h-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                  </path>
                </svg>User Friendly
              </p>
            </div>
          </div>
          <button type="button"
            class="w-full md:w-auto inline-block px-7 py-3 bg-gray-800 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-gray-900 hover:shadow-lg focus:bg-gray-900 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-900 active:shadow-lg transition duration-150 ease-in-out">
            View my work
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->


<!-- My work -->
<div class="container mt-64 flex justify-between items-center mx-auto px-8 md:px-14 lg:px-24 w-full">
  <section class="w-full">
    <h2 id="porfolio" class="secondary-title">My work</h2>
    <p class="section-paragraph">I’ve had the pleasure of working with multiple Fortune 500 companies, designing
      and implementing both frontend and backend.</p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
      <img
        src="https://images.unsplash.com/photo-1576153192396-180ecef2a715?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80"
        class="w-full bg-nav h-36 lg:h-72 object-cover">
      <img
        src="https://images.unsplash.com/photo-1545235617-9465d2a55698?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
        class="w-full bg-nav h-36 lg:h-72 object-cover">
      <img
        src="https://images.unsplash.com/photo-1586717791821-3f44a563fa4c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80"
        class="w-full bg-nav h-36 lg:h-72 object-cover">
    </div>
  </section>
</div>


<!-- Contact -->
<app-contact></app-contact>


<div class="container mt-16 mx-auto px-8 w-full bg-white
      md:px-14 
      lg:px-24">
  <div class="sm:flex sm:items-center sm:justify-between">
    <a href="#" class="flex items-center mb-4 sm:mb-0">
      <div class="self-center text-2xl font-bold whitespace-nowrap dark:text-white">
        .co<span class="underline underline-offset-4 decoration-4">deBrew</span>
      </div>
    </a>
    <ul class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400">
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6 ">Licensing</a>
      </li>
    </ul>
  </div>
  <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
  <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 
    <a href="" class="hover:underline underline-offset-4 decoration-4">codebrew™</a>. All Rights Reserved.
  </span>
</div>
